/* Footer CSS */

.footer a {
    color: #BAC6D5;
}

.bg-dark-blue {
    background-color: #002240;
}

.bg-instagram {
    background-color: #bb005d;
}

.bg-twitter {
    background-color: #1DA1F2;
}

.bg-facebook {
    background-color: #4267B2;
}

.bg-linkedin {
    background-color: #2867B2;
}
